@using System.Security.Claims
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure B2C Multitenant demo app</h1>
    @if (Request.IsAuthenticated)
    {
        <p class="lead">Call web api to decode access token.</p>
        <p>
            @Html.ActionLink("Call webapi >", "Index", "Apitest", null, new  { @class = "btn btn-primary btn-lg" })
        </p>
    }
</div>

@if (Request.IsAuthenticated)

{
    <h1>User claims</h1>
    <table class="table table-clickable table-striped table-hover">
        <thead>
            <tr>

                <th>Claim type</th>
                <th>Claim value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in (User.Identity as ClaimsIdentity).Claims.OrderBy(x => x.Type))
            {

                <tr>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                </tr>
            }
        </tbody>
        <tfoot></tfoot>
    </table>
}
else
{
    <p>No user logged in. Please choose a login method</p>
}